<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CK Bank | Quản lý</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <header class="header headermana">

        <a href="/index" class="logo">
            <img src="images/Flash.png" alt="">
        </a>

        <nav class="navbar ulnav">
            <!-- Chức năng chung -->
            <a href="/index">Home</a>
            <!-- Chức năng admin -->
            <li class="dropdown">
                <a href="/manager" class="dropbtn">Manage</a>
                <div class="dropdown-content">
                    <a href="#kichhoat">Chờ kích hoạt</a>
                    <a href="#kichhoated">Đã kích hoạt</a>
                    <a href="#vohieu">Bị vô hiệu hóa</a>
                    <a href="#khoa">Bị khóa vô thời hạn</a>
                    <a href="#gdrut">Giao dịch rút tiền</a>
                    <a href="#gdchuyen">Giao dịch chuyển tiền</a>
                </div>
            </li>
            <!-- Chức năng chung -->
            <a href="/index#about">About</a>
            <a href="/index#menu">Menu</a>
            <a href="/index#products">Card</a>
            <a href="/index#contact">Contact</a>
            <a href="/logout">Logout</a>

        </nav>

        <div class="icons">
            <div id="user-btn">
                <a href="/info" class="fa-solid fa-user"></a>
            </div>

            <div class="fas fa-bars" id="menu-btn"></div>
        </div>

    </header>


    <section class="kichhoat" id="kichhoat">
        <h1 class="heading"> Danh sách <span>chờ kích hoạt </span> </h1>
        <div class="container container-lichsu my-3">
            <table class="lichsutb">
                <tr class="lichsutr">
                    <th class="lichsuth">STT</th>
                    <th class="lichsuth">Họ tên</th>
                    <th class="lichsuth">Username</th>
                    <th class="lichsuth">Số điện thoại</th>
                    <th class="lichsuth">Ngày tạo</th>
                    <th class="lichsuth">...</th>
                </tr>

                {{#each rows}}
                    {{#equals this.status 'chờ xác minh'}}
                    <tr class="lichsutr">
                        <td class="lichsutd">{{count @index}}</td>
                        <td class="lichsutd">{{this.name}}</td>
                        <td class="lichsutd">{{this.username}}</td>
                        <td class="lichsutd">{{this.phone_number}}</td>
                        <td class="lichsutd">{{this.time_create_account}}</td>
                        <td class="lichsutd">
                            <a href="/xemchoduyet">Xem</a>
                        </td>
                    </tr>
                    {{/equals}}
                {{/each}}
                
            </table>
        </div>

    </section>

    <section class="kichhoated" id="kichhoated">
        <h1 class="heading"> Danh sách <span>đã kích hoạt </span> </h1>
        <div class="container container-lichsu my-3">
            <table class="lichsutb">
                <tr class="lichsutr">
                    <th class="lichsuth">STT</th>
                    <th class="lichsuth">Họ tên</th>
                    <th class="lichsuth">Username</th>
                    <th class="lichsuth">Số điện thoại</th>
                    <th class="lichsuth">Ngày tạo</th>
                    <th class="lichsuth">...</th>
                </tr>
                <tr class="lichsutr">
                    <td class="lichsutd">1</td>
                    <td class="lichsutd">Trần Anh Đức</td>
                    <td class="lichsutd">Đức Cống</td>
                    <td class="lichsutd">0909090909</td>
                    <td class="lichsutd">03/08/1993</td>
                    <td class="lichsutd">
                        <a href="/xemdakichhoat">Xem</a>
                    </td>
                </tr>
                <tr class="lichsutr">
                    <td class="lichsutd">2</td>
                    <td class="lichsutd">Trần Anh Đức</td>
                    <td class="lichsutd">Đức Cống</td>
                    <td class="lichsutd">0909090909</td>
                    <td class="lichsutd">03/08/1993</td>
                    <td class="lichsutd">
                        <a href="/xemdakichhoat">Xem</a>
                    </td>
                </tr>
                <tr class="lichsutr">
                    <td class="lichsutd">3</td>
                    <td class="lichsutd">Trần Anh Đức</td>
                    <td class="lichsutd">Đức Cống</td>
                    <td class="lichsutd">0909090909</td>
                    <td class="lichsutd">03/08/1993</td>
                    <td class="lichsutd">
                        <a href="/xemdakichhoat">Xem</a>
                    </td>
                </tr>
                <tr class="lichsutr">
                    <td class="lichsutd">4</td>
                    <td class="lichsutd">Trần Anh Đức</td>
                    <td class="lichsutd">Đức Cống</td>
                    <td class="lichsutd">0909090909</td>
                    <td class="lichsutd">03/08/1993</td>
                    <td class="lichsutd">
                        <a href="/xemdakichhoat">Xem</a>
                    </td>
                </tr>
                <tr class="lichsutr">
                    <td class="lichsutd">5</td>
                    <td class="lichsutd">Trần Anh Đức</td>
                    <td class="lichsutd">Đức Cống</td>
                    <td class="lichsutd">0909090909</td>
                    <td class="lichsutd">03/08/1993</td>
                    <td class="lichsutd">
                        <a href="/xemdakichhoat">Xem</a>
                    </td>
                </tr>
            </table>
        </div>

    </section>


    <section class="vohieu" id="vohieu">
        <h1 class="heading"> Danh sách <span>bị vô hiệu hóa </span> </h1>
        <div class="container container-lichsu my-3">
            <table class="lichsutb">
                <tr class="lichsutr">
                    <th class="lichsuth">STT</th>
                    <th class="lichsuth">Họ tên</th>
                    <th class="lichsuth">Username</th>
                    <th class="lichsuth">Số điện thoại</th>
                    <th class="lichsuth">Ngày tạo</th>
                    <th class="lichsuth">...</th>
                </tr>
                <tr class="lichsutr">
                    <td class="lichsutd">1</td>
                    <td class="lichsutd">Trần Anh Đức</td>
                    <td class="lichsutd">Đức Cống</td>
                    <td class="lichsutd">0909090909</td>
                    <td class="lichsutd">03/08/1993</td>
                    <td class="lichsutd">
                        <a href="/xemvohieuhoa">Xem</a>
                    </td>
                </tr>
                <tr class="lichsutr">
                    <td class="lichsutd">2</td>
                    <td class="lichsutd">Trần Anh Đức</td>
                    <td class="lichsutd">Đức Cống</td>
                    <td class="lichsutd">0909090909</td>
                    <td class="lichsutd">03/08/1993</td>
                    <td class="lichsutd">
                        <a href="/xemvohieuhoa">Xem</a>
                    </td>
                </tr>
                <tr class="lichsutr">
                    <td class="lichsutd">3</td>
                    <td class="lichsutd">Trần Anh Đức</td>
                    <td class="lichsutd">Đức Cống</td>
                    <td class="lichsutd">0909090909</td>
                    <td class="lichsutd">03/08/1993</td>
                    <td class="lichsutd">
                        <a href="/xemvohieuhoa">Xem</a>
                    </td>
                </tr>
                <tr class="lichsutr">
                    <td class="lichsutd">4</td>
                    <td class="lichsutd">Trần Anh Đức</td>
                    <td class="lichsutd">Đức Cống</td>
                    <td class="lichsutd">0909090909</td>
                    <td class="lichsutd">03/08/1993</td>
                    <td class="lichsutd">
                        <a href="/xemvohieuhoa">Xem</a>
                    </td>
                </tr>
                <tr class="lichsutr">
                    <td class="lichsutd">5</td>
                    <td class="lichsutd">Trần Anh Đức</td>
                    <td class="lichsutd">Đức Cống</td>
                    <td class="lichsutd">0909090909</td>
                    <td class="lichsutd">03/08/1993</td>
                    <td class="lichsutd">
                        <a href="/xemvohieuhoa">Xem</a>
                    </td>
                </tr>
            </table>
        </div>

    </section>


    <section class="khoa" id="khoa">
        <h1 class="heading"> Danh sách <span>bị khóa vô thời hạn </span> </h1>
        <div class="container container-lichsu my-3">
            <table class="lichsutb">
                <tr class="lichsutr">
                    <th class="lichsuth">STT</th>
                    <th class="lichsuth">Họ tên</th>
                    <th class="lichsuth">Username</th>
                    <th class="lichsuth">Số điện thoại</th>
                    <th class="lichsuth">Ngày khóa</th>
                    <th class="lichsuth">...</th>
                </tr>
                <tr class="lichsutr">
                    <td class="lichsutd">1</td>
                    <td class="lichsutd">Trần Anh Đức</td>
                    <td class="lichsutd">Đức Cống</td>
                    <td class="lichsutd">0909090909</td>
                    <td class="lichsutd">03/08/1993</td>
                    <td class="lichsutd">
                        <a href="/xemvothoihan">Xem</a>
                    </td>
                </tr>
                <tr class="lichsutr">
                    <td class="lichsutd">2</td>
                    <td class="lichsutd">Trần Anh Đức</td>
                    <td class="lichsutd">Đức Cống</td>
                    <td class="lichsutd">0909090909</td>
                    <td class="lichsutd">03/08/1993</td>
                    <td class="lichsutd">
                        <a href="/xemvothoihan">Xem</a>
                    </td>
                </tr>
                <tr class="lichsutr">
                    <td class="lichsutd">3</td>
                    <td class="lichsutd">Trần Anh Đức</td>
                    <td class="lichsutd">Đức Cống</td>
                    <td class="lichsutd">0909090909</td>
                    <td class="lichsutd">03/08/1993</td>
                    <td class="lichsutd">
                        <a href="/xemvothoihan">Xem</a>
                    </td>
                </tr>
                <tr class="lichsutr">
                    <td class="lichsutd">4</td>
                    <td class="lichsutd">Trần Anh Đức</td>
                    <td class="lichsutd">Đức Cống</td>
                    <td class="lichsutd">0909090909</td>
                    <td class="lichsutd">03/08/1993</td>
                    <td class="lichsutd">
                        <a href="/xemvothoihan">Xem</a>
                    </td>
                </tr>
                <tr class="lichsutr">
                    <td class="lichsutd">5</td>
                    <td class="lichsutd">Trần Anh Đức</td>
                    <td class="lichsutd">Đức Cống</td>
                    <td class="lichsutd">0909090909</td>
                    <td class="lichsutd">03/08/1993</td>
                    <td class="lichsutd">
                        <a href="/xemvothoihan">Xem</a>
                    </td>
                </tr>
            </table>
        </div>

    </section>


    <section class="gdrut" id="gdrut">
        <h1 class="heading"> Danh sách <span>giao dịch rút tiền </span> </h1>
        <div class="container container-lichsu my-3">
            <table class="lichsutb">
                <tr class="lichsutr">
                    <th class="lichsuth">STT</th>
                    <th class="lichsuth">Số tiền</th>
                    <th class="lichsuth">STK</th>
                    <th class="lichsuth">Số điện thoại</th>
                    <th class="lichsuth">Ngày</th>
                    <th class="lichsuth">...</th>
                </tr>
                <tr class="lichsutr">
                    <td class="lichsutd">1</td>
                    <td class="lichsutd">6.000.000</td>
                    <td class="lichsutd">123456</td>
                    <td class="lichsutd">0909090909</td>
                    <td class="lichsutd">03/08/1993</td>
                    <td class="lichsutd">
                        <a href="/xemruttien">Xem</a>
                    </td>
                </tr>
                <tr class="lichsutr">
                    <td class="lichsutd">2</td>
                    <td class="lichsutd">6.000.000</td>
                    <td class="lichsutd">123456</td>
                    <td class="lichsutd">0909090909</td>
                    <td class="lichsutd">03/08/1993</td>
                    <td class="lichsutd">
                        <a href="/xemruttien">Xem</a>
                    </td>
                </tr>
                <tr class="lichsutr">
                    <td class="lichsutd">3</td>
                    <td class="lichsutd">6.000.000</td>
                    <td class="lichsutd">123456</td>
                    <td class="lichsutd">0909090909</td>
                    <td class="lichsutd">03/08/1993</td>
                    <td class="lichsutd">
                        <a href="/xemruttien">Xem</a>
                    </td>
                </tr>
                <tr class="lichsutr">
                    <td class="lichsutd">4</td>
                    <td class="lichsutd">6.000.000</td>
                    <td class="lichsutd">123456</td>
                    <td class="lichsutd">0909090909</td>
                    <td class="lichsutd">03/08/1993</td>
                    <td class="lichsutd">
                        <a href="/xemruttien">Xem</a>
                    </td>
                </tr>
                <tr class="lichsutr">
                    <td class="lichsutd">5</td>
                    <td class="lichsutd">6.000.000</td>
                    <td class="lichsutd">123456</td>
                    <td class="lichsutd">0909090909</td>
                    <td class="lichsutd">03/08/1993</td>
                    <td class="lichsutd">
                        <a href="/xemruttien">Xem</a>
                    </td>
                </tr>
            </table>
        </div>

    </section>


    <section class="gdchuyen" id="gdchuyen">
        <h1 class="heading"> Danh sách <span>giao dịch chuyển tiền</span> </h1>
        <div class="container container-lichsu my-3">
            <table class="lichsutb">
                <tr class="lichsutr">
                    <th class="lichsuth">STT</th>
                    <th class="lichsuth">Số tiền</th>
                    <th class="lichsuth">STK</th>
                    <th class="lichsuth">Số điện thoại</th>
                    <th class="lichsuth">Ngày</th>
                    <th class="lichsuth">...</th>
                </tr>
                <tr class="lichsutr">
                    <td class="lichsutd">1</td>
                    <td class="lichsutd">6.000.000</td>
                    <td class="lichsutd">123456</td>
                    <td class="lichsutd">0909090909</td>
                    <td class="lichsutd">03/08/1993</td>
                    <td class="lichsutd">
                        <a href="/xemchuyentien">Xem</a>
                    </td>
                </tr>
                <tr class="lichsutr">
                    <td class="lichsutd">2</td>
                    <td class="lichsutd">6.000.000</td>
                    <td class="lichsutd">123456</td>
                    <td class="lichsutd">0909090909</td>
                    <td class="lichsutd">03/08/1993</td>
                    <td class="lichsutd">
                        <a href="/xemchuyentien">Xem</a>
                    </td>
                </tr>
                <tr class="lichsutr">
                    <td class="lichsutd">3</td>
                    <td class="lichsutd">6.000.000</td>
                    <td class="lichsutd">123456</td>
                    <td class="lichsutd">0909090909</td>
                    <td class="lichsutd">03/08/1993</td>
                    <td class="lichsutd">
                        <a href="/xemchuyentien">Xem</a>
                    </td>
                </tr>
                <tr class="lichsutr">
                    <td class="lichsutd">4</td>
                    <td class="lichsutd">6.000.000</td>
                    <td class="lichsutd">123456</td>
                    <td class="lichsutd">0909090909</td>
                    <td class="lichsutd">03/08/1993</td>
                    <td class="lichsutd">
                        <a href="/xemchuyentien">Xem</a>
                    </td>
                </tr>
                <tr class="lichsutr">
                    <td class="lichsutd">5</td>
                    <td class="lichsutd">6.000.000</td>
                    <td class="lichsutd">123456</td>
                    <td class="lichsutd">0909090909</td>
                    <td class="lichsutd">03/08/1993</td>
                    <td class="lichsutd">
                        <a href="/xemchuyentien">Xem</a>
                    </td>
                </tr>
            </table>
        </div>

    </section>

    <section class="footer">

        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
        </div>

        <div class="links">
            <a href="index.html">home</a>
            <a href="index.html#about">about</a>
            <a href="index.html#menu">menu</a>
            <a href="index.html#products">card</a>
            <a href="index.html#contact">contact</a>
        </div>

        <div class="credit">created by <span>us</span></div>

    </section>


    <script src="js/script.js"></script>

</body>

</html>