<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CK Bank | Profile</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header class="header headermana">

        <a href="/index" class="logo">
            <img src="../images/Flash.png" alt="">
        </a>

        <nav class="navbar ulnav">
            <!-- Chức năng chung -->
            <a href="/index">Home</a>
            <!-- Chức năng admin -->

            {{#if user.auth}}
            <li class="dropdown">
                <a href="/manager" class="dropbtn">Manage</a>
                <div class="dropdown-content">
                    <a href="/manager#kichhoat">Chờ xác minh</a>
                    <a href="/manager#kichhoated">Đã xác minh</a>
                    <a href="/manager#vohieu">Đã vô hiệu hóa</a>
                    <a href="/manager#khoa">Bị khóa vô thời hạn</a>
                    <a href="/manager#gdrut">Giao dịch rút tiền</a>
                    <a href="/manager#gdchuyen">Giao dịch chuyển tiền</a>
                </div>
            </li>
            {{/if}}

            <!-- Chức năng chung -->
            <a href="/index#about">About</a>
            <a href="/index#menu">Menu</a>
            <a href="/index#products">Card</a>
            <a href="/index#contact">Contact</a>
            <a href="/logout">Logout</a>

        </nav>

        <div class="icons">
            <div id="user-btn">
                <a href="/info" class="fa-solid fa-user"></a>
            </div>

            <div class="fas fa-bars" id="menu-btn"></div>
        </div>

    </header>



    <section class="about-me" id="about-me">

        <div class="container container-about-me">
            <div class="title">Cập nhật thông tin</div>
            <div class="content content-about-me">
                <form class="form-about-me" id="form-update-info" onsubmit="return false;">
                    <div id="content-img">
                        <div class="about-me-image">
                            <img src="../images/empicon.jpg" class="rounded-circle " width="150">
                        </div>
                    </div>
                    <!-- <div class="about-me-image">
                        <img src="images/empicon.jpg" class="rounded-circle " width="150">
                    </div>

                    <div class="about-me-image about-me-image2">
                        <img src="images/ngoc.jpg" class="rounded-circle " width="150">
                    </div> -->

                    <div class="user-details">

                        <div class="input-box">
                            <span class="details">Họ và tên</span>
                            <input value="{{user.name}}" type="text" id="nameeee" name="nameeee">
                        </div>
                        
                        <div class="input-box">
                            <span class="details">Email</span>
                            <input value="{{user.email}}" type="text" id="email" name="email">
                        </div>

                        <div class="input-box">
                            <span class="details">Số điện thoại</span>
                            <input value="{{user.phone_number}}" type="text" id="phone" name="phone" >
                        </div>
 
                        <div class="input-box">
                            <span class="details">Ngày hết hạn thẻ</span>
                            <input value="1/1/2025" type="text" placeholder="" >
                        </div>

                        <div class="input-box">
                            <span class="details">CMND/CCCD</span>
                            <input value="{{user.identity}}" type="text" id="cmnd" name="cmnd" >
                        </div>
                        <div class="input-box">
                            <span class="details">Địa chỉ</span>
                            <input value="{{user.address}}" type="text" id="address" name="address" >
                        </div>
                        <div class="input-box">
                            <span class="details">Ngày sinh</span>
                            <input value="1/1/2025" type="text" id="birth" name="birth">
                        </div>

                        <div class="alert" id="errorMessage" style="display: none;">
                            <span class="fas fa-exclamation-circle"></span>
                            <span class="msg" id="error"></span>
                        </div>

                        <div id="dialogCont" class="dig-container" style="display: none;">
                            <div class="dig-header">
                                Cập nhật thông tin
                            </div>
                            <div id="digbody" class="dig-body">
                                <h4 id="success"></h4>
                            </div>
                            <div class="dig-footer">
                                <a id="close">Đóng</a>
                            </div>
                        </div>

                    </div>

                    
                    <div class="button register-button">
                        <button type="submit" class="regisbutton"> Cập nhật
                    </div>
                </form>
            </div>
        </div>

    </section>



    <!-- <section class="contact" id="contact">

        <h1 class="heading"> <span>contact</span> us </h1>

        <div class="row">

            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.0243805837226!2d106.69728031465488!3d10.732602892351277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528b2747a81a3%3A0x33c1813055acb613!2sTon%20Duc%20Thang%20University!5e0!3m2!1sen!2s!4v1647269203034!5m2!1sen!2s"
                allowfullscreen="" loading="lazy"></iframe>

            <form action="">
                <h3>get in touch</h3>
                <div class="inputBox">
                    <span class="fas fa-user"></span>
                    <input type="text" placeholder="name">
                </div>
                <div class="inputBox">
                    <span class="fas fa-envelope"></span>
                    <input type="email" placeholder="email">
                </div>
                <div class="inputBox">
                    <span class="fas fa-phone"></span>
                    <input type="number" placeholder="number">
                </div>
                <input type="submit" value="contact now" class="btn">
            </form>

        </div>

    </section> -->


    <section class="footer">

        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
        </div>

        <div class="links">
            <a href="/index">home</a>
            <a href="/index#about">about</a>
            <a href="/index#menu">menu</a>
            <a href="/index#products">card</a>
            <a href="/index#contact">contact</a>
        </div>

        <div class="credit">created by <span>us</span></div>

    </section>


    <script src="../js/main.js"></script>

</body>

</html>