<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CK Bank | Chuyển tiền</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="header headermana">

        <a href="/index" class="logo">
            <img src="images/Flash.png" alt="">
        </a>

        <nav class="navbar ulnav">
            <!-- Chức năng chung -->
            <a href="/index">Home</a>
            <!-- Chức năng admin -->

            {{#if user.auth}}
            <li class="dropdown">
                <a href="manager.html" class="dropbtn">Manage</a>
                <div class="dropdown-content">
                    <a href="manager.html#kichhoat">Chờ kích hoạt</a>
                    <a href="manager.html#kichhoated">Đã kích hoạt</a>
                    <a href="manager.html#vohieu">Bị vô hiệu hóa</a>
                    <a href="manager.html#khoa">Bị khóa vô thời hạn</a>
                    <a href="manager.html#gdrut">Giao dịch rút tiền</a>
                    <a href="manager.html#gdchuyen">Giao dịch chuyển tiền</a>
                </div>
            </li>
            {{/if}}

            <!-- Chức năng chung -->
            <a href="/index#about">About</a>
            <a href="/index#menu">Menu</a>
            <a href="/index#products">Card</a>
            <a href="/index#contact">Contact</a>
            <a href="/logout">Logout</a>

        </nav>

        <div class="icons">
            <div id="user-btn">
                <a href="/info" class="fa-solid fa-user"></a>
            </div>

            <div class="fas fa-bars" id="menu-btn"></div>
        </div>

    </header>



    <section class="about-me" id="about-me">

        <div class="container container-about-me">
            <div class="title">Chuyển tiền</div>
            <div class="content content-about-me">
                <form class="form-about-me" action="/auth/xacnhan" method="post">

                    <div class="user-details">

                        <div class="input-box">
                            <span class="details">Họ và tên người nhận</span>
                            <input disabled value="{{name_receiver}}" name="tennguoinhan" id="tennguoinhan" type="text"  placeholder="" required>
                            <input value="{{name_receiver}}" name="tennguoinhan" id="tennguoinhan" type="text" style=" display:none; " placeholder="" required>
                        </div>

                        <div class="input-box">
                            <span class="details">Số điện thoại người nhận</span>
                            <input disabled value="{{data.phone}}" id="phone" name="phone" type="text" placeholder="" required>
                            <input value="{{data.phone}}" id="phone" name="phone" type="text" style="display:none;" placeholder="" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Số tiền muốn chuyển</span>
                            <input disabled value="{{data.tien}}" id="tien" name="tien" type="text" placeholder="" required>
                            <input value="{{data.tien}}" id="tien" name="tien" type="text" style="display:none;" placeholder="" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Phí chuyển</span>
                            <input disabled value="{{vat}}" id="phi" name="phi" type="text" placeholder="" required>
                            <input value="{{vat}}" id="phi" name="phi" type="text" style="display:none" placeholder="" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Người chịu phí</span>
                            <input disabled value="{{data.chiuphi}}" id="nguoi_chiu_phi" name="nguoichiuphi" type="text" placeholder="" required>
                            <input value="{{data.chiuphi}}" id="phi" id="nguoi_chiu_phi" name="nguoichiuphi" type="text" style="display:none" placeholder="" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Nhập mã OTP</span>
                            <input value="" id="otp" name="otp" type="text" placeholder="" required>
                        </div>

                    </div>


                    <div class="button">
                        <input type="submit" value="Xác nhận">
                    </div>
                </form>
            </div>
        </div>

    </section>




    <section class="footer">

        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
        </div>

        <div class="links">
            <a href="/index">home</a>
            <a href="/index#about">about</a>
            <a href="/index#menu">menu</a>
            <a href="/index#products">card</a>
            <a href="/index#contact">contact</a>
        </div>

        <div class="credit">created by <span>us</span></div>

    </section>


    <script src="js/main.js"></script>

</body>

</html>