<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CK Bank | Thông tin giao dịch</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="header headermana">
        <a href="/index" class="logo">
            <img src="/images/Flash.png" alt="">
        </a>

        <nav class="navbar ulnav">
            <!-- Chức năng chung -->
            <a href="/index">Home</a>
            <!-- Chức năng admin -->

            <li class="dropdown">
                <a href="/manager" class="dropbtn">Manage</a>
                <div class="dropdown-content">
                    <a href="/manager#kichhoat">Chờ xác minh</a>
                    <a href="/manager#kichhoated">Đã xác minh</a>
                    <a href="/manager#vohieu">Bị vô hiệu hóa</a>
                    <a href="/manager#khoa">Bị khóa vô thời hạn</a>
                    <a href="/manager#gdrut">Giao dịch rút tiền</a>
                    <a href="/manager#gdchuyen">Giao dịch chuyển tiền</a>
                </div>
            </li>

            <!-- Chức năng chung -->
            <a href="/index#about">About</a>
            <a href="/index#menu">Menu</a>
            <a href="/index#products">Card</a>
            <a href="/index#contact">Contact</a>
            <a href="/index#logout">Logout</a>

        </nav>

        <div class="icons">
            <div id="user-btn">
                <a href="/info" class="fa-solid fa-user"></a>
            </div>

            <div class="fas fa-bars" id="menu-btn"></div>
        </div>

    </header>



    <section class="about-me" id="about-me">

        <div class="container container-about-me">
            <div class="title">Thông tin giao dịch chuyển tiền</div>
            <div class="content content-about-me">
                <form class="form-about-me" action="#">

                    <div class="user-details">
                        {{#each rows1}}
                            <div class="input-box">
                                <span class="details">Họ và tên</span>
                                <input value="{{this.name}}" type="text" disabled required>
                            </div>

                            <div class="input-box">
                                <span class="details">Số điện thoại người chuyển</span>
                                <input value="{{this.phone_number}}" type="text" disabled required>
                            </div>
                        {{/each}}
                        {{#each rows}}
                            <div class="input-box">
                                <span class="details">Số tiền muốn chuyển</span>
                                <input value="{{this.money_transfer}}" type="text" disabled required>
                            </div>

                            <div class="input-box">
                                <span class="details">Tên người nhận</span>
                                <input value="{{this.ten_Nguoi_Nhan}}" type="text" disabled required>
                            </div>

                            <div class="input-box">
                                <span class="details">Số điện thoại người nhận</span>
                                <input value="{{this.sdt_Nguoi_Nhan}}" type="text" disabled required>
                            </div>                        

                            <div class="input-box">
                                <span class="details">Ghi chú</span>
                                <input value="{{this.note_trading}}" type="text" disabled required>
                            </div>
                            <div class="input-box">
                                <span class="details">Trạng thái</span>
                                <input value="{{this.trading_status}}" type="text" disabled required>
                            </div>
                            <div class="input-box">
                                <span class="details">Ngày chuyển</span>
                                <input value="{{this.day_trading}}" type="text" disabled required>
                            </div>
                        {{/each}}
                    </div>

                    <div class="button register-button">
                        <input type="submit" value="Duyệt">
                        <input type="submit" value="Hủy">
                    </div>
                </form>
            </div>
        </div>

    </section>



    <section class="footer">

        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
        </div>

        <div class="links">
            <a href="/index">home</a>
            <a href="/index#about">about</a>
            <a href="/index#menu">menu</a>
            <a href="/index#products">card</a>
            <a href="/index#contact">contact</a>
        </div>

        <div class="credit">created by <span>us</span></div>

    </section>


    <script src="js/script.js"></script>

</body>

</html>